// Почему стоит выбрать Peel 3D
.advantages__row {
    row-gap: rem(40);

    @media (min-width: 992px) {
        row-gap: rem(80);
    }
}

.advantages__list {
    text-align: center;
    justify-content: space-evenly;
    @include reset-list;
}

.advantages__item {
    padding-top: rem(80);
    background-repeat: no-repeat;
    background-position: top 0 left 50%;
    background-size: rem(66) rem(66);
}
