// Сферы применения
.applications__list {
    row-gap: rem(40);
    margin-top: rem(50);
    @include reset-list;

    @media (min-width: 992px) {
        row-gap: rem(80);
    }
}

.applications__img {
    width: 100%;
    margin-bottom: rem(30);
    border-radius: rem(15);
}
