// Баннеры
.banner {
    &--request {
        padding: rem(30);
        border-radius: rem(15);
        background: #DFE3EC url("../img/banner-bg.jpg") no-repeat top left / cover;
    
        .banner__title,
        .banner__description {
            max-width: rem(260);
        }

        .button {
            margin-top: rem(25);
        }
    }
}

.banner__logo {
    margin-bottom: rem(45);
}

.banner__wrapper {
    padding: rem(30) rem(20);
    border-radius: rem(15);
    background-color: $color-primary;

    @media (min-width: 576px) {
        padding: rem(40);
    }

    @media (min-width: 992px) {
        padding: rem(40) rem(65);
    }
}

.banner__link {
    margin-top: rem(10);

    &:hover,
    &:focus {
        color: $color-light;
    }
}
