.banner {
    &--request {
        padding: 30px;
        border-radius: 15px;
        background: #DFE3EC url("../img/banner-bg.jpg") no-repeat top left / cover;
    
        .banner__title,
        .banner__description {
            max-width: 260px;
        }

        .banner__button {
            margin-top: 25px;
        }
    }
}

.banner__logo {
    margin-bottom: 45px;
}

.banner__wrapper {
    padding: 30px;
    border-radius: 15px;
    background-color: #F4B400;

    @media (min-width: 576px) {
        padding: 40px;
    }

    @media (min-width: 992px) {
        padding: 40px 65px;
    }
}

.banner__title {
    margin-bottom: 0.61em;
}

.banner__link {
    margin-top: 10px;

    &:hover,
    &:focus {
        color: #ffffff;
    }
}
