// Клиенты
.clients__slider-wrapper {
    margin-top: rem(50);
}

.clients__slider {
    color: #63666A;
}

.clients__logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: rem(85);
    margin-bottom: rem(20);
}


