.hero {
    padding-top: 35px;
    padding-bottom: 65px;
    background-color: #F0F2F5;

    &--light {
        background-color: transparent;
    }
}

.hero__swiper-slide {
    background-repeat: no-repeat;
    background-position: top 0 left 50vw;
}

.hero__row {
    row-gap: 30px;
}

.hero__title {
    margin-bottom: 0.48em;

    &.new::after {
        content: "new";
        display: inline-block;
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 1rem;
        line-height: 1.25;
        border-radius: 15px;
        color: #ffffff;
        background-color: #CC2132;
        text-transform: uppercase;
        vertical-align: super;
    }
}

.hero__button {
    margin-top: 30px;
}

.hero__video-link {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 60px;
        height: 60px;
        background-color: #F4B400;
        mask: url("../img/icons/play.svg") no-repeat center / contain;
    }

    &:hover::before,
    &:focus::before {
        background-color: #ffffff;
    }

    img {
        width: 100%;
        height: auto;   
        border-radius: 15px;
    }
}
