// Блок с информацией о 3D-сканере Peel 3
.info__buttons-wrapper {
    margin-top: rem(30);
}

.info__video-link {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: rem(60);
        height: rem(60);
        background-color: $color-primary;
        mask: url("../img/icons/play.svg") no-repeat center / contain;
        transition: background-color 0.2s ease-in-out;
    }

    &:hover::before,
    &:focus::before {
        background-color: $color-light;
    }

    img {
        width: 100%;
        height: auto;   
        border-radius: rem(15);
    }
}

.info__download {
    position: relative;
    padding-left: rem(35);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: rem(25);
        height: rem(25);
        background-color: $color-dark;
        mask: url("../img/icons/arrow-line-down.svg") no-repeat center / contain;
        transition: background-color 0.2s ease-in-out;
    }

    &:hover::before,
    &:focus::before {
        background-color: $color-primary;
    }
}
