// Навигация по странице (ссылки-якоря)
.page-navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(20) rem(40);
    @include reset-list;
    padding-top: rem(15);
    padding-bottom: rem(15);
    border-bottom: rem(1) solid $color-border-navigation;
}
