// Продукты Peel 3D
.products__list {
    @include reset-list;
    margin-top: rem(45);

    @media (min-width: 768px) {
        margin-top: rem(75);
    }
}

.products__item {
    &:not(:last-child) {
        margin-bottom: rem(60);

        @media (min-width: 992px) {
            margin-bottom: rem(100);
        }
    }

    @media (min-width: 768px) {
        &:nth-child(even) {
            .products__item-img {
                order: 1;
            }
        }
    }
}

.products__item-lead {
    display: block;
    margin-bottom: 1.56em;
    color: $color-primary;
}

.products__item-list {
    @include reset-list;

    li {
        position: relative;
        padding-left: rem(35);

        &::before { 
            content: "";
            position: absolute;
            top: -rem(2);
            left: 0;
            width: rem(25);
            height: rem(25);
            background: url("../img/icons/check.svg") no-repeat center / contain;
        }

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}

.products__item-button {
    margin-top: rem(30);
}
