.questions {
    text-align: center;
}

.questions__title {
    margin-bottom: 20px;
}

.questions__description {
    max-width: 400px;
    margin: 0 auto;
}

.questions__button {
    margin-top: 30px;
}