// Слайдер
.slider-wrapper {
    position: relative;
    padding-left: rem(35);
    padding-right: rem(35);

    @media (min-width: 992px) {
        padding-left: rem(65);
        padding-right: rem(65);
    }
}

.slider__list {
    @include reset-list;
}

.slider__pagination {
    margin-top: rem(50);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(10);

    &.swiper-pagination-bullets {
        .swiper-pagination-bullet {
            width: rem(10);
            height: rem(10);
            margin: 0;
            border: rem(1) solid #181818;
            background-color: transparent;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: #181818;
        }
    }
}

.slider__button {
    position: absolute;
    top: 50%;
    width: rem(21);
    height: rem(43);
    padding: 0;
    mask: url("../img/icons/slider-arrow.svg") no-repeat center;
    background-color: #000000;
    cursor: pointer;
    transform: translateY(-50%);

    &:disabled {
        background-color: #BCBCBC;
        cursor: default;
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        background-color: #F4B400;
    }

    &--prev {
        left: 0;
        transform: translateY(-50%) rotate(180deg);
    }

    &--next {
        right: 0;
    }
}
