.tasks__title {
    margin-bottom: 1.67em;
}

.tasks__list {
    text-align: center;
    justify-content: space-evenly;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.tasks__item {
    padding-top: 80px;
    background-repeat: no-repeat;
    background-position: top 0 left 50%;
    background-size: 66px 66px;
}