.custom-container {
  max-width: 76.5rem;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5625rem 3.125rem;
}

.section {
  margin-bottom: 3.75rem;
}
@media (min-width: 992px) {
  .section {
    margin-bottom: 6.25rem;
  }
}
.section__row {
  row-gap: 1.5rem;
}

body {
  font-family: "DM Sans", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  color: #090908;
  background-color: #ffffff;
}

a {
  color: #F4B400;
  transition: color 0.2s ease-in-out;
}

.title {
  max-width: 43.75rem;
  margin-bottom: 0.75em;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.11;
}
.title--large {
  font-size: 2.25rem;
}
.title--small {
  font-size: 1.375rem;
}
@media (min-width: 992px) {
  .title {
    font-size: 2.25rem;
  }
  .title--large {
    font-size: 2.625rem;
  }
  .title--small {
    font-size: 1.75rem;
  }
}

.subtitle {
  margin-bottom: 0.45em;
  font-size: 1.375rem;
  line-height: 1.09;
  font-weight: 700;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  color: #090908;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
}
.button--primary {
  background-color: #F4B400;
}
.button--primary:hover, .button--primary:focus {
  color: #F4B400;
  background-color: transparent;
  outline-color: #F4B400;
}
.button--secondary {
  background-color: #ffffff;
}
.button--secondary:hover, .button--secondary:focus {
  color: #ffffff;
  background-color: #090908;
}
.button--border {
  outline-color: #090908;
}
.button--border:hover, .button--border:focus {
  color: #F4B400;
  outline-color: #F4B400;
}
.button--border-inversion {
  color: #ffffff;
  outline-color: #ffffff;
}
.button--border-inversion:hover, .button--border-inversion:focus {
  color: #F4B400;
  outline-color: #F4B400;
}
.button--arrow {
  position: relative;
  padding-right: 45px;
  background-color: #F4B400;
}
.button--arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  -webkit-mask: url("../img/icons/button-arrow.svg") no-repeat center/contain;
          mask: url("../img/icons/button-arrow.svg") no-repeat center/contain;
  background-color: #090908;
  transform: translateY(-50%);
}
.button--arrow:hover, .button--arrow:focus {
  color: #F4B400;
  background-color: transparent;
  outline-color: #F4B400;
}
.button--arrow:hover::after, .button--arrow:focus::after {
  background-color: #F4B400;
}

.link {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.link--primary {
  color: #090908;
  text-decoration: underline;
}
.link--primary:hover, .link--primary:focus {
  color: #F4B400;
}
.link--secondary {
  color: #F4B400;
}
.link--secondary:hover, .link--secondary:focus {
  color: #090908;
}

.description--large {
  font-size: 1.125rem;
}
@media (min-width: 992px) {
  .description--large {
    font-size: 1.5625rem;
  }
}
.description *:last-child {
  margin-bottom: 0;
}
.description ul {
  padding-left: 20px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 37px;
  height: 37px;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
}
.social__link:hover, .social__link:focus {
  color: #F4B400;
  border-color: #F4B400;
}

.contacts {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__link {
  color: inherit;
  text-decoration: none;
}
.contacts__link:hover, .contacts__link:focus {
  color: #F4B400;
}

.slider-wrapper {
  position: relative;
  padding-left: 2.1875rem;
  padding-right: 2.1875rem;
}
@media (min-width: 992px) {
  .slider-wrapper {
    padding-left: 4.0625rem;
    padding-right: 4.0625rem;
  }
}

.slider__list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.slider__pagination {
  margin-top: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
}
.slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0;
  border: 0.0625rem solid #181818;
  background-color: transparent;
  opacity: 1;
}
.slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #181818;
}

.slider__button {
  position: absolute;
  top: 50%;
  width: 1.3125rem;
  height: 2.6875rem;
  padding: 0;
  -webkit-mask: url("../img/icons/slider-arrow.svg") no-repeat center;
          mask: url("../img/icons/slider-arrow.svg") no-repeat center;
  background-color: #000000;
  cursor: pointer;
  transform: translateY(-50%);
}
.slider__button:disabled {
  background-color: #BCBCBC;
  cursor: default;
}
.slider__button:not(:disabled):hover, .slider__button:not(:disabled):focus {
  background-color: #F4B400;
}
.slider__button--prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}
.slider__button--next {
  right: 0;
}

.site-header {
  position: relative;
  font-size: 15px;
  line-height: 1.2;
  z-index: 5;
}
.site-header.position-sticky {
  top: 0;
  left: 0;
  background-color: #ffffff;
}
.site-header.position-sticky .site-header__container::before {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  width: 100vw;
}
@media (min-width: 992px) {
  .site-header {
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0, rgb(0, 0, 0) 43px, transparent 43px, transparent 100%);
  }
}

.site-header__container {
  position: relative;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1224px;
}
.site-header__container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;
  height: 1px;
  background-color: #090908;
}
@media (min-width: 768px) {
  .site-header__container {
    padding-top: 20px;
    padding-bottom: 20px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (min-width: 992px) {
  .site-header__container {
    padding-top: 65px;
  }
}

.site-header__wrapper {
  flex-grow: 1;
}

.site-header__wrapper {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: calc(100vh - 66px);
  padding: 40px 12px;
  color: #7C7C7C;
  background-color: #090908;
  overflow-y: auto;
}
.site-header__wrapper.open {
  display: flex;
}
.site-header__wrapper.open .site-header__navigation {
  display: block;
}
@media (min-width: 576px) {
  .site-header__wrapper {
    height: -moz-max-content;
    height: max-content;
    max-height: calc(100vh - 75px);
  }
}
@media (min-width: 768px) {
  .site-header__wrapper {
    position: static;
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    color: inherit;
    background-color: transparent;
    overflow-y: visible;
  }
}

.site-header__navigation {
  display: none;
}
@media (min-width: 768px) {
  .site-header__navigation {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
    max-height: calc(100vh - 95px);
    padding: 40px 12px;
    color: #7C7C7C;
    background-color: #090908;
    overflow-y: auto;
  }
}
@media (min-width: 992px) {
  .site-header__navigation {
    position: static;
    display: block;
    justify-self: end;
    width: auto;
    height: auto;
    padding: 0;
    color: inherit;
    background-color: transparent;
    overflow-y: visible;
  }
}

.site-header__logo {
  order: -1;
  max-width: 100px;
}
@media (min-width: 576px) {
  .site-header__logo {
    max-width: 120px;
  }
}
@media (min-width: 992px) {
  .site-header__logo {
    order: 0;
    max-width: 100%;
  }
}

.site-header__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.site-header__contacts a {
  color: #ffffff;
  text-decoration: none;
}
.site-header__contacts a:hover, .site-header__contacts a:focus {
  color: #F4B400;
}
@media (min-width: 768px) {
  .site-header__contacts a {
    color: inherit;
  }
}
@media (min-width: 576px) {
  .site-header__contacts {
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .site-header__contacts {
    flex-direction: row;
    margin-top: 0;
    justify-content: flex-end;
  }
}
@media (min-width: 992px) {
  .site-header__contacts {
    position: absolute;
    top: 0;
    right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .site-header__contacts a {
    position: relative;
    color: #ffffff;
  }
}

.site-header__contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  margin-top: auto;
}
@media (min-width: 576px) {
  .site-header__contacts-list {
    flex-direction: row;
  }
}

.site-header__toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 26px;
  row-gap: 5px;
  padding: 5px;
  border: none;
  background-color: transparent;
}
.site-header__toggle::before, .site-header__toggle::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #090908;
  border-radius: 4px;
}
.site-header__toggle.open .site-header__toggle-line {
  opacity: 0;
}
.site-header__toggle.open::before, .site-header__toggle.open::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}
.site-header__toggle.open::after {
  transform: rotate(-45deg);
}

.site-header__toggle-line {
  width: 30px;
  height: 2px;
  background-color: #090908;
  border-radius: 4px;
}

.site-header__link {
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-header__link {
    font-weight: 400;
    text-transform: none;
  }
}

.site-navigation__list {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  gap: 30px;
}
@media (min-width: 576px) {
  .site-navigation__list {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}
@media (min-width: 768px) {
  .site-navigation__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .site-navigation__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
}

.site-navigation__link {
  display: block;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.site-navigation__link[href]:hover, .site-navigation__link[href]:focus {
  color: #F4B400;
}
@media (min-width: 992px) {
  .site-navigation__link {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    color: inherit;
    text-transform: none;
  }
}

.site-navigation__item--children {
  position: relative;
}
@media (min-width: 992px) {
  .site-navigation__item--children:hover .site-navigation__sublist, .site-navigation__item--children:focus-within .site-navigation__sublist {
    display: block;
  }
}

.site-navigation__item--children .site-navigation__link {
  position: relative;
}
@media (min-width: 992px) {
  .site-navigation__item--children .site-navigation__link {
    padding-right: 25px;
  }
  .site-navigation__item--children .site-navigation__link::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 17px;
    height: 17px;
    transform: translateY(-50%);
    background: url("../img/icons/shevron-down.svg") no-repeat center/contain;
  }
}

.site-navigation__sublist {
  display: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  list-style-type: none;
}
.site-navigation__sublist li:not(:last-child) {
  margin-bottom: 10px;
}
.site-navigation__sublist.open {
  display: block;
}
@media (min-width: 576px) {
  .site-navigation__sublist {
    display: block;
  }
}
@media (min-width: 992px) {
  .site-navigation__sublist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: -moz-max-content;
    width: max-content;
    margin-top: 0;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}
.site-navigation__sublist a {
  color: inherit;
  text-decoration: none;
}
.site-navigation__sublist a:hover, .site-navigation__sublist a:focus {
  color: #F4B400;
}

.site-navigation__wrapper {
  display: inline-flex;
  align-items: center;
}

.site-navigation__toggle {
  width: 20px;
  height: 20px;
  border: none;
  margin-left: 10px;
  background-color: #ffffff;
  -webkit-mask: url("../img/icons/shevron-down.svg") no-repeat center/contain;
          mask: url("../img/icons/shevron-down.svg") no-repeat center/contain;
}

.hero {
  padding-top: 35px;
  padding-bottom: 65px;
  background-color: #F0F2F5;
}
.hero--light {
  background-color: transparent;
}

.hero__swiper-slide {
  background-repeat: no-repeat;
  background-position: top 0 left 50vw;
}

.hero__row {
  row-gap: 30px;
}

.hero__title {
  margin-bottom: 0.48em;
}
.hero__title.new::after {
  content: "new";
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 15px;
  color: #ffffff;
  background-color: #CC2132;
  text-transform: uppercase;
  vertical-align: super;
}

.hero__button {
  margin-top: 30px;
}

.hero__video-link {
  position: relative;
}
.hero__video-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  background-color: #F4B400;
  -webkit-mask: url("../img/icons/play.svg") no-repeat center/contain;
          mask: url("../img/icons/play.svg") no-repeat center/contain;
}
.hero__video-link:hover::before, .hero__video-link:focus::before {
  background-color: #ffffff;
}
.hero__video-link img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.page-navigation__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem 2.5rem;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  border-bottom: 0.0625rem solid #DFDFDF;
}

.info__buttons-wrapper {
  margin-top: 1.875rem;
}

.info__video-link {
  position: relative;
}
.info__video-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #F4B400;
  -webkit-mask: url("../img/icons/play.svg") no-repeat center/contain;
          mask: url("../img/icons/play.svg") no-repeat center/contain;
  transition: background-color 0.2s ease-in-out;
}
.info__video-link:hover::before, .info__video-link:focus::before {
  background-color: #ffffff;
}
.info__video-link img {
  width: 100%;
  height: auto;
  border-radius: 0.9375rem;
}

.info__download {
  position: relative;
  padding-left: 2.1875rem;
}
.info__download::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: #090908;
  -webkit-mask: url("../img/icons/arrow-line-down.svg") no-repeat center/contain;
          mask: url("../img/icons/arrow-line-down.svg") no-repeat center/contain;
  transition: background-color 0.2s ease-in-out;
}
.info__download:hover::before, .info__download:focus::before {
  background-color: #F4B400;
}

.products__list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  margin-top: 2.8125rem;
}
@media (min-width: 768px) {
  .products__list {
    margin-top: 4.6875rem;
  }
}

.products__item:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (min-width: 992px) {
  .products__item:not(:last-child) {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 768px) {
  .products__item:nth-child(even) .products__item-img {
    order: 1;
  }
}

.products__item-lead {
  display: block;
  margin-bottom: 1.56em;
  color: #F4B400;
}

.products__item-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.products__item-list li {
  position: relative;
  padding-left: 2.1875rem;
}
.products__item-list li::before {
  content: "";
  position: absolute;
  top: -rem(2);
  left: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  background: url("../img/icons/check.svg") no-repeat center/contain;
}
.products__item-list li:not(:last-child) {
  margin-bottom: 1em;
}

.products__item-button {
  margin-top: 1.875rem;
}

.advantages__row {
  row-gap: 2.5rem;
}
@media (min-width: 992px) {
  .advantages__row {
    row-gap: 5rem;
  }
}

.advantages__list {
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.advantages__item {
  padding-top: 5rem;
  background-repeat: no-repeat;
  background-position: top 0 left 50%;
  background-size: 4.125rem 4.125rem;
}

.banner--request {
  padding: 1.875rem;
  border-radius: 0.9375rem;
  background: #DFE3EC url("../img/banner-bg.jpg") no-repeat top left/cover;
}
.banner--request .banner__title,
.banner--request .banner__description {
  max-width: 16.25rem;
}
.banner--request .button {
  margin-top: 1.5625rem;
}

.banner__logo {
  margin-bottom: 2.8125rem;
}

.banner__wrapper {
  padding: 1.875rem 1.25rem;
  border-radius: 0.9375rem;
  background-color: #F4B400;
}
@media (min-width: 576px) {
  .banner__wrapper {
    padding: 2.5rem;
  }
}
@media (min-width: 992px) {
  .banner__wrapper {
    padding: 2.5rem 4.0625rem;
  }
}

.banner__link {
  margin-top: 0.625rem;
}
.banner__link:hover, .banner__link:focus {
  color: #ffffff;
}

.applications__list {
  row-gap: 2.5rem;
  margin-top: 3.125rem;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
@media (min-width: 992px) {
  .applications__list {
    row-gap: 5rem;
  }
}

.applications__img {
  width: 100%;
  margin-bottom: 1.875rem;
  border-radius: 0.9375rem;
}

.software__button {
  margin-top: 2.1875rem;
}

.clients__slider-wrapper {
  margin-top: 3.125rem;
}

.clients__slider {
  color: #63666A;
}

.clients__logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.3125rem;
  margin-bottom: 1.25rem;
}

.about__title {
  margin-bottom: 30px;
}

.about__link {
  margin-top: 20px;
}

.tools {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #F4B400;
}

.tools__title {
  margin-bottom: 0.67em;
}

.tools__list {
  row-gap: 40px;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
@media (min-width: 992px) {
  .tools__list {
    row-gap: 70px;
  }
}

.tools__item {
  padding-left: 115px;
  background-repeat: no-repeat;
  background-position: 24px 0;
  background-size: 66px 66px;
}

.requirements__title {
  margin-bottom: 0.67em;
}

.requirements__table-wrapper {
  margin-top: 40px;
}

.requirements__table {
  width: 100%;
}
.requirements__table th,
.requirements__table td {
  min-width: 150px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #F4B400;
}
.requirements__table td {
  min-width: 300px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
}

.requirements__col {
  background-color: #FFFAEC;
}

.requirements__notes {
  margin-top: 25px;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 13px;
  line-height: 16px;
  color: #7C7C7C;
  list-style-type: none;
  counter-reset: counter;
}
@media (min-width: 768px) {
  .requirements__notes {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
.requirements__notes a {
  color: inherit;
}
.requirements__notes a:hover, .requirements__notes a:focus {
  color: #F4B400;
}

.requirements__notes-item {
  position: relative;
  padding-left: 12px;
}
.requirements__notes-item:before {
  content: counter(counter);
  counter-increment: counter 1;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  line-height: 1;
}

.questions {
  text-align: center;
}

.questions__title {
  margin-bottom: 20px;
}

.questions__description {
  max-width: 400px;
  margin: 0 auto;
}

.questions__button {
  margin-top: 30px;
}

.tasks__title {
  margin-bottom: 1.67em;
}

.tasks__list {
  text-align: center;
  justify-content: space-evenly;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.tasks__item {
  padding-top: 80px;
  background-repeat: no-repeat;
  background-position: top 0 left 50%;
  background-size: 66px 66px;
}

.examples__header {
  margin-bottom: 55px;
}

.examples__list {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.examples__item-title {
  margin-bottom: 0.82em;
}

.examples__video-link {
  position: relative;
  display: block;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  overflow: hidden;
}
.examples__video-link::before {
  content: "";
  position: absolute;
  bottom: 16px;
  left: 24px;
  width: 45px;
  height: 45px;
  background: url("../img/icons/examples-icon.png") no-repeat center/contain;
}
.examples__video-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  -webkit-mask: url("../img/icons/play-dark.svg") no-repeat center/contain;
          mask: url("../img/icons/play-dark.svg") no-repeat center/contain;
  background-color: rgba(0, 0, 0, 0.7);
}
.examples__video-link:hover::after, .examples__video-link:focus::after {
  background-color: #F4B400;
}
.examples__video-link img {
  width: 100%;
  height: auto;
}

.examples__slider-wrapper {
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
}
@media (min-width: 992px) {
  .examples__slider-wrapper {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.examples__swiper-button {
  width: 21px;
  height: 43px;
  padding: 0;
  -webkit-mask: url("../img/icons/slider-arrow.svg") no-repeat center;
          mask: url("../img/icons/slider-arrow.svg") no-repeat center;
  background-color: #000000;
  cursor: pointer;
}
.examples__swiper-button:disabled {
  background-color: #BCBCBC;
  cursor: default;
}
.examples__swiper-button:not(:disabled):hover, .examples__swiper-button:not(:disabled):focus {
  background-color: #F4B400;
}
.examples__swiper-button.swiper-button-prev {
  transform: rotate(180deg);
}
.examples__swiper-button .swiper-navigation-icon {
  display: none;
}

.modeling__title {
  max-width: 650px;
  margin-bottom: 1.78em;
}

.modeling__subtitle {
  display: flex;
  align-items: center;
}
.modeling__subtitle::after {
  content: "";
  flex-grow: 1;
  height: 5px;
  margin-left: 20px;
  background-color: #F4B400;
}

.modeling__wrapper {
  overflow-x: auto;
}

.modeling__scheme {
  display: grid;
  grid-template-columns: repeat(6, 167px);
  grid-template-rows: repeat(4, auto);
  gap: 50px 40px;
  margin-top: 40px;
}

.modeling__scheme-list {
  position: relative;
  grid-area: 1/1/2/-1;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  text-align: center;
  counter-reset: counter;
}

.modeling__scheme-item {
  position: relative;
}
.modeling__scheme-item::before {
  content: counter(counter);
  counter-increment: counter 1;
  position: absolute;
  top: 103px;
  left: 50%;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 23px;
  line-height: 1;
  font-weight: 700;
  background-color: #F4B400;
  transform: translateX(-50%);
}

.modeling__scheme-img {
  display: block;
  margin-bottom: 30px;
}

.modeling__scheme-software {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5px;
  border-top: 2px solid #F4B400;
}
.modeling__scheme-software--peel {
  grid-area: 2/1/3/3;
}
.modeling__scheme-software--peel-cad {
  grid-area: 3/1/4/4;
}
.modeling__scheme-software--peel-pro-cad {
  grid-area: 4/1/5/-1;
}

.modeling__button {
  position: relative;
  top: -32px;
}
.modeling__button:hover, .modeling__button:focus {
  background-color: #ffffff;
}

.modeling__scheme-feature {
  position: relative;
  max-width: 220px;
  margin-bottom: 0;
  padding: 10px 45px 10px 20px;
  font-size: 13px;
  line-height: 1.23;
  border-radius: 10px;
  background-color: #F0F2F5;
}
.modeling__scheme-feature::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url("../img/icons/modeling-features-check.svg") no-repeat center/contain;
}

.modeling__scheme-dashed {
  position: relative;
}
.modeling__scheme-dashed::before {
  content: "";
  position: absolute;
  top: 120px;
  right: 0;
  height: calc(100% - 70px);
  border-right: 1px dashed #F4B400;
}
.modeling__scheme-dashed--peel {
  grid-area: 1/1/2/3;
}
.modeling__scheme-dashed--peel-cad {
  grid-area: 1/1/3/4;
}
.modeling__scheme-dashed--peel-pro-cad {
  grid-area: 1/1/4/-1;
}

.modeling-steps {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #ffffff;
  background-color: #181818;
}

.modeling-steps__list {
  padding-left: 0;
  margin-top: 35px;
  margin-bottom: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .modeling-steps__list {
    margin-top: 70px;
  }
}

.modeling-steps__number-wrapper {
  margin-top: auto;
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 700;
}

.modeling-steps__number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  padding: 5px;
  border-radius: 50%;
}
.modeling-steps__number--current {
  color: #000000;
  background-color: #F4B400;
  z-index: 1;
}
.modeling-steps__number--all {
  border: 2px solid #ffffff;
  margin-left: 22px;
  margin-top: -21px;
}

.modeling-steps__item-title {
  margin-bottom: 0.86em;
}

.modeling-steps__video {
  width: 100%;
  height: auto;
}

.faq__accordion-item {
  padding-left: 48px;
}
.faq__accordion-item:not(:last-child) {
  margin-bottom: 40px;
}

.faq__accordion-button {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 1.2;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: left;
}
@media (min-width: 992px) {
  .faq__accordion-button {
    font-size: 25px;
  }
}
.faq__accordion-button:hover, .faq__accordion-button:focus {
  color: #F4B400;
}
.faq__accordion-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -48px;
  width: 33px;
  height: 33px;
  background: url("../img/icons/accordion-shevron.svg") no-repeat center/contain;
  transform: rotate(180deg);
}
.faq__accordion-button.collapsed::before {
  transform: rotate(0deg);
}

.faq__accordion-collapse {
  margin-top: 30px;
}
.faq__accordion-collapse a {
  color: #F4B400;
}

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #7C7C7C;
  background-color: #090908;
}

.site-footer__container {
  display: grid;
  justify-content: center;
  text-align: center;
  row-gap: 30px;
}
@media (min-width: 576px) {
  .site-footer__container {
    grid-template-columns: min-content 1fr;
    grid-template-rows: 41px repeat(4, auto);
    gap: 40px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .site-footer__container {
    grid-template-columns: min-content repeat(2, 1fr);
    grid-template-rows: 41px repeat(4, auto);
    gap: 40px 70px;
  }
}
@media (min-width: 992px) {
  .site-footer__container {
    grid-template-columns: min-content repeat(4, 1fr) 105px;
    grid-template-rows: 41px repeat(2, auto);
  }
}

.site-footer__navigation,
.site-footer__navigation-sublist {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.site-footer__navigation-sublist {
  display: none;
}
.site-footer__navigation-sublist.open {
  display: block;
}
@media (min-width: 576px) {
  .site-footer__navigation-sublist {
    display: block;
  }
}

.site-footer__navigation {
  display: grid;
  gap: 30px;
}
@media (min-width: 576px) {
  .site-footer__navigation {
    grid-area: 1/2/3/3;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .site-footer__navigation {
    grid-area: 1/2/3/4;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .site-footer__navigation {
    grid-area: 1/2/3/6;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .site-footer__navigation-item:nth-child(-n+2) {
    grid-row: span 2;
  }
}

.site-footer__navigation-sublist {
  margin-top: 20px;
}

.site-footer__navigation-sublist li:not(:last-child) {
  margin-bottom: 10px;
}

.site-footer__navigation-sublist a,
.site-footer__meta a {
  color: inherit;
  text-decoration: none;
}
.site-footer__navigation-sublist a:hover, .site-footer__navigation-sublist a:focus,
.site-footer__meta a:hover,
.site-footer__meta a:focus {
  color: #F4B400;
}

.site-footer__navigation-wrapper {
  display: inline-flex;
  align-items: center;
}

.site-footer__navigation-link {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.site-footer__navigation-link[href]:hover, .site-footer__navigation-link[href]:focus {
  color: #F4B400;
}

.site-footer__navigation-toggle {
  width: 20px;
  height: 20px;
  border: none;
  margin-left: 10px;
  background-color: #ffffff;
  -webkit-mask: url("../img/icons/shevron-down.svg") no-repeat center/contain;
          mask: url("../img/icons/shevron-down.svg") no-repeat center/contain;
}

.site-footer .social__list,
.site-footer .contacts {
  color: #ffffff;
}

@media (min-width: 576px) {
  .site-footer__social {
    grid-area: 4/2/5/3;
    margin-top: auto;
  }
}
@media (min-width: 992px) {
  .site-footer__social {
    grid-area: 3/2/4/4;
  }
}

.site-footer__social .social__list {
  justify-content: center;
}
@media (min-width: 576px) {
  .site-footer__social .social__list {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .site-footer__contacts {
    grid-area: 2/1/3/2;
  }
}

.site-footer__download {
  display: inline-block;
  position: relative;
  max-width: 140px;
  padding-left: 42px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
}
.site-footer__download:hover, .site-footer__download:focus {
  color: #F4B400;
}
.site-footer__download::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: #F4B400;
  -webkit-mask: url("../img/icons/arrow-line-down.svg") no-repeat center/contain;
          mask: url("../img/icons/arrow-line-down.svg") no-repeat center/contain;
}
@media (min-width: 576px) {
  .site-footer__download {
    grid-area: 3/1/4/2;
    margin-top: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .site-footer__download {
    grid-area: 3/2/4/3;
  }
}
@media (min-width: 992px) {
  .site-footer__download {
    grid-area: 3/4/4/5;
    margin-left: auto;
  }
}

.site-footer__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
@media (min-width: 576px) {
  .site-footer__meta {
    grid-area: 4/1/5/2;
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .site-footer__meta {
    grid-area: 3/1/5/2;
  }
}
@media (min-width: 992px) {
  .site-footer__meta {
    grid-area: 3/1/4/2;
  }
}

.site-footer__copyright {
  font-size: inherit;
}

.site-footer__button:hover, .site-footer__button:focus {
  color: #F4B400;
  background-color: transparent;
  outline: 2px solid #F4B400;
  outline-offset: -2px;
}
@media (min-width: 576px) {
  .site-footer__button {
    grid-area: 3/2/4/3;
    margin-top: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .site-footer__button {
    grid-area: 3/3/4/4;
    margin-left: auto;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .site-footer__button {
    grid-area: 3/5/4/7;
  }
}

@media (min-width: 768px) {
  .site-footer__logo--peel {
    margin-left: auto;
    margin-top: auto;
  }
}/*# sourceMappingURL=style.css.map */